<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @cervejarium.Nome %>
</p>

<p>
  <b>Endereco:</b>
  <%= @cervejarium.Endereco %>
</p>


<%= link_to 'Edit', edit_cervejarium_path(@cervejarium) %> |
<%= link_to 'Back', cervejaria_path %>
